@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* 색상 변수 */
:root {
  --main-color: #6327fe;
  --sub-color: #eae8fe;
  --border-color: #bdbdbd;
}
/* 테스트용 박스 */
.white {
  padding: 10px;
  background-color: #fff;
}
/* 전역 스타일 */
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--sub-color);
}

/* 숨김처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* 리셋, 공통스타일 */
button {
  padding: 0;
  cursor: pointer;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
  width: 94px;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: transform 0.2s;
}

button:active {
  transform: scale(0.95);
}

button,
.price-box,
.drink-list,
input {
  border-radius: 8px;
}

p {
  margin: 0;
  padding: 0;
}

/* 자판기 버튼 */
.cola {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  box-sizing: border-box;
  margin: 0 12px 12px 0;
  overflow: hidden;
}

.cola:nth-child(3n) {
  margin-right: 0px;
}

.cola img {
  margin-bottom: 5px;
}

.cola p {
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 7px;
}

.cola .price {
  width: 65px;
  margin: 0 auto;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.cola .sold-out-box {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -5%;
  left: -5%;
  background-color: #000;
  opacity: 0.8;
}

.cola .sold-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  color: var(--sub-color);
  border: 6px double var(--sub-color);
  width: 30px;
  padding: 0 8px 2px 8px;
  font-weight: bold;
  border-radius: 0;
}

[class^="sold"] {
  display: none;
}

.cola:hover {
  outline: 3px solid var(--main-color);
}

.cola:disabled {
  color: #000;
  cursor: default;
  outline: none;
  transform: none;
  border-color: rgba(0, 0, 0, 0.8);
}

.cola:disabled [class^="sold"] {
  display: block;
}

/* 소지금, 잔액 표시 */
.price-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--sub-color);
  box-sizing: border-box;
}

.left-over {
  max-width: 204px;
}

.having {
  width: 306px;
  margin: 9px auto;
}

.having p:nth-child(2) {
  font-weight: bold;
}

/* 음료 리스트 */
.drink-list {
  width: 276px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.drink-list p {
  padding: 20px 0 18px 38px;
  font-size: 9px;
}

.drink-list .drink-count {
  border: 1px solid var(--border-color);
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 8px;
  margin: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

/* 음료 리스트에 들어가는 콜라 이미지 */
.list-original {
  background: #fff url(./img/cola-red.svg) no-repeat 10px / 22px;
}

.list-violet {
  background: #fff url(../img/cola-violet.svg) no-repeat 10px / 22px;
}

.list-orange {
  background: #fff url(../img/cola-orange.svg) no-repeat 10px / 22px;
}

.list-green {
  background: #fff url(../img/cola-green.svg) no-repeat 10px / 22px;
}

.list-cool {
  background: #fff url(../img/cola-cool.svg) no-repeat 10px / 22px;
}

.list-yellow {
  background: #fff url(../img/cola-yellow.svg) no-repeat 10px / 22px;
}

/* 선택한 음료, 획득한 음료 창 길이 */
.get {
  width: 276px;
}

.select {
  width: 170px;
}

/* 거스름돈 반환, 입금, 획득 버튼 및
입금액 입력 인풋 스타일 */
[class^="btn-"] {
  font-size: 13px;
  font-weight: 500;
  box-sizing: border-box;
  margin-left: 4px;
}

.btn-changes,
.btn-deposit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  transition: color, background-color .2s;
}

.btn-changes:hover,
.btn-deposit:hover {
  background-color: var(--main-color);
  color: #fff;
}

.btn-get {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 106px;
  border: none;
  color: #fff;
  background-color: var(--main-color);
  transition: filter .2s;
}

.btn-get:hover {
  filter: invert(100%);
}

#deposit {
  box-sizing: border-box;
  width: 204px;
  height: 33px;
  padding-left: 8px;
  border: 2px solid var(--border-color);
}
