/* root 변수 */
:root {
  --main-color: #6327fe;
  --bg-color: #eae8fe;
  --name-font-size: 9px;
  --price-font-size: 12px;
  --btn-font-size: 13px;
  --normal-font-size: 14px;
}

body {
  background-color: var(--bg-color);
}

/* resets */

h1,
h2,
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

/* 숨김 처리용 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* header */
header {
  display: flex;
  justify-content: center;
}

/* container */
.container {
  display: flex;
  width: 748px;
  gap: 28px;
  margin: 43px auto;
}

/* left */
.left-wrapper {
  background-color: #fff;
  flex-basis: 360px;
  flex-shrink: 0;
}

/* cola-box */
.cola-box {
  display: flex;
  flex-wrap: wrap;
  height: 272px;
  justify-content: space-around;
  align-content: space-around;
}

.cola-box li {
  position: relative;
}

.cola-box label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s;
}

.name {
  font-size: var(--name-font-size);
  font-weight: 500;
}

.price {
  width: 70px;
  height: 22px;
  background-color: var(--main-color);
  color: #fff;
  font-size: var(--price-font-size);
  border-radius: 50px;
  line-height: 22px;
}

/* hover, active, checked 아웃라인 효과 */

.cola-box label:hover,
.cola-box input:checked + label {
  outline: 3px solid var(--main-color);
}

.cola-box label:active {
  transform: scale(0.95);
}

/* disabled 효과 */
.cola-box input:disabled + label {
  cursor: default;
}

.cola-box input:disabled + label:hover,
.cola-box input:disabled + label:active {
  outline: none;
  transform: none;
}

.cola-box input:disabled + label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  background-image: url(../img/sold-out.svg);
}

/* right */
.right-wrapper {
  flex-basis: 360px;
}

.wallet {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 9px;
}

.money-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 6px 10px 6px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--bg-color);
}

.money-box.large {
  width: 306px;
}

.money-box p {
  font-size: var(--normal-font-size);
  line-height: 20px;
}

.cola-list {
  background-color: #fff;
  text-align: center;
}

.cola-list h2 {
  font-size: var(--normal-font-size);
  line-height: 20px;
}

.cola-get {
  width: 306px;
  height: 364px;
  border: 2px solid #bdbdbd;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  padding-top: 12px;
}

.cola-get::after {
  content: " ";
  position: absolute;
  top: 9px;
  right: 4px;
  width: 4px;
  height: 79px;
  background-color: #fff;
  border-radius: 50px;
}

.cola.get {
  width: 276px;
  height: 46px;
  margin: 0 18px 6px 12px;
}

.cola .name {
  margin-left: 38px;
}

.cola .count {
  border: 1px solid #bdbdbd;
  width: 30px;
  height: 30px;
  line-height: 20px;
  padding-top: 4px;
  margin-right: 8px;
  box-sizing: border-box;
}
