body {
  background-color: #eae8fe;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.logo a {
  text-align: center;
}


h1 {
  margin: 0;
  padding: 0;
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.container {
  margin: 44px auto;
  width: 800px;

  display: flex;
  gap: 28px;
}

.vending-machine,
.pocket,
.vending-result {
  background-color: #fff;
}

.vending-machine {
  flex-basis: 360px;
  flex-shrink: 0;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 360px;
  flex-shrink: 0;
}

.container div {
}
