/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/* root 변수 */
:root {
  --main-color: #6327fe;
  --bg-color: #eae8fe;
  --border-color: #bdbdbd;
  --name-font-size: 9px;
  --price-font-size: 12px;
  --btn-font-size: 13px;
  --normal-font-size: 14px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--bg-color);
}

/* resets */

h1,
h2,
h3,
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

input[type="checkbox"] {
  display: none;
}

button {
  background-color: #fff;
  border: none;
}

/* 숨김 처리용 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* header */
header {
  display: flex;
  justify-content: center;
}

/* container */
.container {
  display: flex;
  width: 748px;
  gap: 28px;
  margin: 43px auto;
}

/* left */
.left-wrapper {
  background-color: #fff;
  flex-basis: 360px;
  flex-shrink: 0;
}

/* cola-box */
.cola-box {
  display: flex;
  flex-wrap: wrap;
  height: 272px;
  justify-content: space-around;
  align-content: space-around;
  margin: 31px 27px 0 27px;
}

.cola-box li {
  position: relative;
  margin: 0 12px 12px 0;
}

.cola-box li:nth-child(3n) {
  margin-right: 0;
}

.cola-box label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s;
}

.name {
  font-size: var(--name-font-size);
  font-weight: 500;
}

.price {
  width: 70px;
  height: 22px;
  background-color: var(--main-color);
  color: #fff;
  font-size: var(--price-font-size);
  border-radius: 50px;
  line-height: 22px;
}

/* hover, active, checked 아웃라인 효과 */
.cola-box label:hover,
.cola-box input:checked + label {
  outline: 3px solid var(--main-color);
}

.cola-box label:active {
  transform: scale(0.95);
}

/* disabled 효과 */
.cola-box input:disabled + label {
  cursor: default;
}

.cola-box input:disabled + label:hover,
.cola-box input:disabled + label:active {
  outline: none;
  transform: none;
}

.cola-box input:disabled + label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  background-image: url(../img/sold-out.svg);
}

/* grid */
.grid-container {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  place-items: center;
  margin: 17px 27px 16px 27px;
}

.grid-a {
  grid-area: a;
}
.grid-b {
  grid-area: b;
}
.grid-c {
  grid-area: c;
}
.grid-d {
  grid-area: d;
}
.grid-e {
  grid-area: e;
}
.grid-f {
  grid-area: f;
}

.grid-a,
.grid-c,
.grid-e {
  margin-right: 12px;
}

.grid-a,
.grid-b,
.grid-c,
.grid-d {
  margin-bottom: 11px;
}

/* 잔액 */
.money-box.small {
  width: 200px;
}

/* button */
button {
  font-size: var(--btn-font-size);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 94px;
  box-sizing: border-box;
  line-height: 19px;
  height: 33px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: var(--main-color);
  color: #fff;
}

button:active {
  transform: scale(0.95);
}

/* 획득 button */
.btn-get {
  height: 106px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
}

.btn-get:hover {
  filter: invert(100%);
}

/* 입금액 입력 */
input[type="number"] {
  width: 200px;
  height: 33px;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding-left: 6px;
  outline: none;
  font-size: var(--btn-font-size);
}

input[type="number"]::placeholder {
  font-size: var(--btn-font-size);
  color: var(--border-color);
}

input[type="number"]:focus {
  border-color: var(--main-color);
}

/* cola 담는 공간 */
.cola-get.small {
  width: 200px;
  height: 106px;
}

.cola.cart {
  width: 170px;
}

/* right */
.right-wrapper {
  flex-basis: 360px;
}

/* 소지금 박스 */
.wallet {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 9px;
}

.money-box.large {
  width: 306px;
}

/* 획득한 음료 박스 */
.cola-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 25px 27px 26px 27px;
  align-items: center;
  box-sizing: border-box;
}

.cola-list h3 {
  font-size: var(--normal-font-size);
  line-height: 20px;
  margin-bottom: 13px;
}

.cola-get.large {
  width: 306px;
  height: 364px;
  margin-bottom: 6px;
}

.cola.get {
  width: 276px;
}

/* 총 금액 */
.total {
  font-weight: 500;
  font-size: var(--price-font-size);
  line-height: 17px;
  align-self: flex-end;
}
